<header class="header-main" color="primary">
  <div class="header-section">
    <h1 class="header-title">Technical Overview</h1>
  </div>
</header>  

<main class="homepage">
  <div class="topic">
    <h2 class="homepage-title">Conceptual Block Diagram</h2>

  </div>

  <mat-divider class="mat-divider"></mat-divider>

  <div class="topic">
    <h2 class="homepage-title">Software Flowchart</h2>
    <p class="homepage-text">
      
    </p>
  </div>

  <mat-divider class="mat-divider"></mat-divider>

  <div class="topic">
    <h2 class="homepage-title">Dev Stack</h2>
    <p class="homepage-text">
      
    </p>
  </div>

</main>

