<mat-sidenav-container class="sidenav-container">
  
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z6">
      <span>InfiniTech</span>

      <div class="navigation">
        <a mat-button [routerLink]="['home']">
          <span>Home</span>
        </a>
        <a mat-button [routerLink]="['technical']">
          <span>Technical</span>
        </a>
        <a mat-button [routerLink]="['contact']">
          <span>Contact</span>
        </a>
      </div>

    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
