<header class="header-main" color="primary">
  <div class="header-section">
    <h1 class="header-title">Technical Overview</h1>
  </div>
</header>  

<main class="homepage">
  <div class="topic">
    <h2 class="homepage-title">Conceptual Block Diagram</h2>
    <p class="homepage-text">
      
    </p>
    <img src="/assets/cbd1.png" width="950" height="400" class="mat-elevation-z3">
  </div>

  <mat-divider class="mat-divider"></mat-divider>

  <div class="topic" height="457 !important" width="950 !important">
    <h2 class="homepage-title">Software Flowchart</h2>
    <p class="homepage-text">
      
    </p>
    <img src="/assets/sfc1.png" width="500" height="400" class="mat-elevation-z3">
  </div>

  <mat-divider class="mat-divider"></mat-divider>

  <div class="topic" height="457" width="950">
    <h2 class="homepage-title">Dev Stack</h2>
    <p class="homepage-text">
      
    </p>
    <img src="/assets/ds1.png" width="870" height="118" class="mat-elevation-z3">
  </div>

</main>

