<header class="header-main" color="primary">
  <div class="header-section">
    <h1 class="header-title">Contact</h1>
    <h2 class="header-subtitle">Please reach out with questions or freedback</h2>
  </div>
</header>  

<main class="homepage">
  <div class="topic">
    <h2 class="homepage-title">Faculty Sponsors</h2>
    <p class="homepage-text"> Dr. Fink - fink@tamu.edu </p>
    <p class="homepage-text"> Chris Sartori - cpsartori@gmail.com </p>
  </div>

  <mat-divider class="mat-divider"></mat-divider>

  <div class="topic">
    <h2 class="homepage-title">Capstone Students</h2>
    <p class="homepage-text"> Suyash G. - Project Manager - suyashg@tamu.edu</p>
    <p class="homepage-text"> Darius J. - Hardware Engineer - dariusj13@tamu.edu</p>
    <p class="homepage-text"> Sam S. - Test Engineer - samanmshams-1999@tamu.edu</p>
    <p class="homepage-text"> Josh S. - Software Engineer - joshuasalinas@tamu.edu</p>
  </div>

</main>

