<header class="header-main" color="primary">
  <div class="header-section">
    <h1 class="header-title">Disc Golf Tracker</h1>
    <h2 class="header-subtitle">Transforming the Analytics of Disc Golf</h2>
  </div>
</header>  

<main class="homepage">
  <div class="topic">
    <h2 class="homepage-title">Overview</h2>
    <p class="homepage-text">
      InfiniTech's goal is to create a device that will be able to track the speed, direction and location of a disk used for disk golf. There will also be a companion app that will compile the data and present it to the user.
    </p>
  </div>

  <mat-divider class="mat-divider"></mat-divider>

  <div class="topic">
    <h2 class="homepage-title">Problem Statement</h2>
    <p class="homepage-text">
      Currently, there is no innovative and unique way to capture the analytics of a disc’s travel during disc golf as there is for other sports. In addition, there is often the issue of discs getting lost in bushes, trees, and other obstacles that are characteristic of a disc golf course. With our Disc Golf Tracker, we will be able to implement a way to collect and transmit data regarding the disc’s tilt, altitude, velocity, etc. in order to observe the aspects of a disc’s flight path and also provide a method of tracking the disc through a cluttered environment.
    </p>
  </div>

  <mat-divider class="mat-divider"></mat-divider>

  <div class="topic">
    <h2 class="homepage-title">Objective</h2>
    <p class="homepage-text">
      InfiniTech’s disc golf tracker aims to provide a solution that is able to track the flight path, acceleration, and location of a disc without affecting its flight path to help improve disc golf enthusiast and amateur’s performance alike while saving them the trouble of losing discs.  
    </p>
  </div>

  <mat-divider class="mat-divider"></mat-divider>

  <div class="topic">
    <h2 class="homepage-title">Deliverables</h2>
    <p class="homepage-text">
      The disc golf tracker will be able to track the flight path of the disc and provide metrics such as acceleration, tilt, and location. This will be done through an attachable device that connects to a phone application via bluetooth.
    </p>
  </div>

</main>

